.container{
    width: full;
    height: full;
    background-color: red;
    padding: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.container img {
    width: full;
    height: auto;
    margin: 10px;
  }

  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* border: red; */
  }